.ShoppingCart {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
  color: #2f3135;
  padding: 0;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.6s ease-in-out;
}

.ShoppingCart.is-visible {
  right: 0;
}

.ShoppingCart__title {
  font-size: 20px;
  margin: 0;
  color: white;
  text-align: center;
  line-height: 59px;
}

.ShoppingCart__header {
  background-color: #2196F3;
  height: 59px;
}

.ShoppingCart__close {
  border: 0;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #2196F3;
}

.ShoppingCart__close img {
  width: 30px;
}

.ShoppingCart__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.Item__image--container {
  display: flex;
  justify-content: center;
}

.Item__image {
  height: 100px;
   width: 100px;
}

.Item__description {
  display: flex;
  flex-wrap: wrap;
}

.Item__description__item {
  color: #222222;
  font-weight: bold;
  margin-left: 10px;
  font-size: 18px;
  margin-bottom: 0;
  width: 80%
}

.Item__description__category {
  color: #222222;
  font-weight: bold;
  margin-left: 10px;
  font-size: 18px;
  margin-bottom: 0;
  width: 100%;
}

.Item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #999999;
  padding-top: 10px;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.Item__button {
  border: none;
}

.fa-times {
  color: #F44336;
  font-size: 20px;
  position: absolute;
  top:0px;
  right: 20px;
}

.Item__price__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 25px;
  color: #222222;
  padding-right: 15px;
}

.Item__price {
  font-size: 20px;
}

.No__items {
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #999999;
}

.Remainder {
  color: #222222;
  font-weight: bold;
}

.Cart__items {
  display: none;
}
