.footer--list-item {
  color: black;
  margin-bottom: 15px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-list--first {
  color: #F44336;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer {
  border-top: 1px solid #999999;
  padding-top: 20px;
}

.footer-img {
  text-align: center;
}

.footer-elements {
  display: flex;
  justify-content: space-around;
}

.media--list--element{
  margin-right: 10px;
}
